########################################################################
##  Update composer itself and export variable
########################################################################

commands:
  01_01_01_update_composer:
    command: export HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root
