########################################################################
##  Publish application stat logs to cloudwatch
########################################################################

# Symfony application log format:
## timestamp  channel.severity  error  description
## [2016-04-11 05:06:22] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "No route found for "GET /sitemap.xml"" at /var/app/current/app/cache/int/classes.php line 1894 {"exception":"[object] (Symfony\\Component\\HttpKernel\\Exception\\NotFoundHttpException(code: 0): No route found for \"GET /sitemap.xml\" at /var/app/current/app/cache/int/classes.php:1894, Symfony\\Component\\Routing\\Exception\\ResourceNotFoundException(code: 0):  at /var/app/current/app/cache/int/appIntUrlMatcher.php:1168)"} []

Mappings:
  CWLogs:
    UserStatLogGroup:
      LogFile: "/var/app/current/app/logs/stat*.log"
      TimestampFormat: "%Y-%m-%d %H:%M:%S"

Outputs:
  UserStatCWLogGroup:
    Description: "User stat Logs"
    Value: { "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0UserStatLogGroup"}

Resources:
  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0UserStatLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: UserStatCWLogGroup
          DefaultValue: {"Fn::Join":["-", [{ "Ref":"AWSEBEnvironmentName" }, "user-stat-logs"]]}
      RetentionInDays: 14

  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            ## instance log
            "/tmp/cwlogs/conf.d/user-stat-logs.conf":
              content : |
                [user-stat-logs]
                file = `{"Fn::FindInMap":["CWLogs", "UserStatLogGroup", "LogFile"]}`
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0UserStatLogGroup" }`
                log_stream_name = {instance_id}
                datetime_format = `{"Fn::FindInMap":["CWLogs", "UserStatLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root
            ## combined log
            "/tmp/cwlogs/conf.d/user-stat-logs-combined.conf":
              content : |
                [user-stat-logs-combined]
                file = `{"Fn::FindInMap":["CWLogs", "UserStatLogGroup", "LogFile"]}`
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogs8832c8d3f1a54c238a40e36f31ef55a0UserStatLogGroup" }`
                log_stream_name = combined
                datetime_format = `{"Fn::FindInMap":["CWLogs", "UserStatLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root